
<div class="container login-container ">
    <div class="row">
        <div class="col-12 col-sm-8x` col-md-6 login-form">
            <h3>Sign In</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onClickSubmit()">
                
                <div class="form-group">
                        <label for="password">Text Box: <strong class="asterisk">*</strong></label>
                    <input type="text" class="form-control" name="password" id="password" placeholder="Your Password *"
                        formControlName="password" (onChange)="validate($event)"  required />
                    <div class="error" *ngIf="submitted  && login.password.errors  && login.password.errors.required">
                        Password is <strong>required</strong>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btnSubmit" aria-label="SignIn">check</button>
                </div>
            </form>
        </div>
    </div>
</div>